body{
    padding: 0;
    margin: 0;
    display: grid;
    font-family: Archivo;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.logo{
    padding: 10px;
    margin-left: 12%;
}

.header{
    padding: 10px;
    padding-bottom: 25px;
    margin-left: 9%;
    width: 75%;
    height: 25%;
}

.headerButtons{
    background: #222931 ;
    width: 950px;
    height:20px;
    margin-left: 8%;
    padding: 16px;
    padding-left: 25px;
    padding-top: 10px;
    position: absolute;
    font-size: 12 px;
}

.button{
    color: white;
    padding: 10px
}

.headerLogo{
    width: 100%;
    height: 100%;
}

.headerButtonImg{
    width: 10px;
    height: 10px;
}

.text{
    background: yellow;
    margin-bottom: 25px;
}

.textTitle{
    font-weight: bold;
    font-size: 25px;
    padding-top: 10px;
    margin-left: 500px;
}

.textText{
    font-weight: bold;
    margin-left: 20px;
}

.textP{
    margin: 0;
    padding: 25px 0;
}

.textButtonText{
    margin-left: 390px;
    border: 1px solid white;
    background: white;
    padding: 5px 25px;
    font-weight: 600;
}

.textButtonText:hover{
    background: gray;
    color: white;
}

.footerLogo{
    max-width: 100%;
    max-height: 100%;
}

.images{
    padding: 25px;
}

.bannerImg1{
    background: url("../img/banner-1.jpg") no-repeat;
    margin-left: 280px;
}

.bannerImg2{
    background: url("../img/banner-2.jpg") no-repeat;
    margin: 0 10px;
}

.bannerImg3{
    background: url("../img/banner-3.jpg") no-repeat;
}

.bannerImg1, .bannerImg2, .bannerImg3{
    width: 300px;
    height: 220px;
    display: inline-block;
}

.bannerImg1:hover .bannerText1{
    opacity: 1;
    font-size: 32 px;
    font-weight: 600;
}

.bannerImg2:hover .bannerText2{
    opacity: 1;
    font-size: 32 px;
    font-weight: 600;
}   

.bannerImg3:hover .bannerText3{
    opacity: 1;
    font-size: 32 px;
    font-weight: 600;
}

.bannerText1, .bannerText2, .bannerText3{
    text-align:center;
    opacity: 0;
    padding: 101px 110px;
    color: white;
    font-weight: 500;
    background: rgba(34,41,49,0.8);
}

.footerButton1, .footerButton2, .footerButton3{
    display: inline-block;
    background: yellow;
    color: black;
    font-weight: bold;
    max-width: 300px;
    padding: 10px 100px;
}

.footerButtons{
    position: relative;
    bottom: 40px;
}

.footerButton1{
    margin-left: 200px;
}

.footerButton2{
    margin: 0 10px;
}

.footerButton1:hover{
    color: white;
    background: rgba(34,41,49,0.8);
}

.footerButton2:hover{
    color: white;
    background: rgba(34,41,49,0.8);
}

.footerButton3:hover{
    color: white;
    background: rgba(34,41,49,0.8);
}

.footerImg{
    width: 50px;
    height: 50px;
    float: left;
}

.footerP{
    margin: 0;
    display:inline-block;
    padding-top: 10px;
}

.footerButtonTitle{
    padding-left: 10px;
}

.footerButtonText{
    padding-left: 10px;
}

.line{
    border: 1px solid rgba(211, 211, 211, 0.9);
    margin-left: 475px;
    margin-right: 475px;
}

.footerTextText{
    padding-top: 10px;
}

.footerTitleOverOns{
    font-weight: bold;
    font-size: 25px;
}

.footerTitleContact{
    font-weight: bold;
    font-size: 25px;
    text-align: left;
}

.overOns{
    float: left;
    margin-left: 200px;
    max-width: 400px;
    padding: 10px;
}

.contact{
    float: right;
    margin-right: 300px;
    width: 600x;
    
}

.item1, .item2, .item3{
    width: 300px;
    height: 50px;
    padding-bottom: 1px;
    color: #aeb6be;
}

.item1Text, .item2Text, .item3Text{
    color: black;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    padding-left: 10px
}
.item2Text{
    padding-top: 12.5px;
    padding-left: 10px
}

.item3Text{
    padding-top: 12.5px;
    padding-left: 10px
}

.footerText{
    margin-top: 30px;
}

.footerFooter{
    background: #5f656d;
    padding: 20px;
}

.footerFooterText{
    color: white;
    font-weight: bold;
    margin-right: 475px;
    float: right;
    font-size: 12px;
    line-height: 12px;
}
.dropbtn {
    background-color: #222931 ;
    color: white;
    padding: 10px;
    border: none;

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    text-decoration: none;
    position: absolute;
    background-color: #222931 ;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdown-content a {
    color: white;
    padding: 15px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdown-content a:hover {background-color: black;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #ffe718;}

  .dropdown-content a:hover {
    background-color: #ffe718;
  }

  .textpagina{
      margin: 100px 200px;
      font-size: 18px;;
  }

  .droptekst {
    background-color: white;
    color: #ffe718;
    padding: 0px;
    border: none;

  }
  .dropdowntekst {
    position: relative;
    display: inline-block;
  }
  
  .dropdowntekst-content {
    display: none;
    text-decoration: none;
    position: absolute;
    background-color: gray;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
  .dropdowntekst-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }
  
  .dropdowntekst-content a:hover {background-color: gray;}
  
  .dropdowntekst:hover .dropdowntekst-content {display: block;}
  
  .dropdownteksts:hover .droptekst {background-color: gray;}

  .dropdowntekst-content a:hover {
    background-color: gray;
  }